<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='showLogsStyle.css') }}">
  </head>
  <body>

    <form action="/" method="post" enctype = "multipart/form-data">
          <input type="date" name="date">
          <input type="time" name="time">
          <input type="file" name="file" autocomplete="off" required><br>

        <input type="submit" value="Submit">
    </form>

    <h>Logs</h>
    <table>
    {% for location in locations %}
      <tr onclick="location.href += 'id:{{ location.id }}/page:1';">

        <td>{{ location.date }}</td>
        <td>{{ location.time }}</td>
      </tr>
    {% endfor %}
    </table>


    {% block body %}
    {% if users %}
    {{ pagination.info }}
    {{ pagination.links }}
      <table>
      <thead>
        <tr><th>#</th><th>Table</th></tr>
      </thead>
      <tbody>
        {% for log in users %}
        <tr>
        <td>{{ loop.index + pagination.skip }}</td>
            <td>{{ log.f1 }}</td>
            <td>{{ log.f2 }}</td>
            <td>{{ log.f3 }}</td>
            <td>{{ log.f4 }}</td>
            <td>{{ log.f5 }}</td>
            <td>{{ log.f6 }}</td>
            <td>{{ log.f7 }}</td>
            <td>{{ log.f8 }}</td>
            <td>{{ log.f9 }}</td>
            <td>{{ log.f10 }}</td>
            <td>{{ log.f11 }}</td>
            <td>{{ log.f12 }}</td>
            <td>{{ log.f13 }}</td>
            <td>{{ log.f14 }}</td>
            <td>{{ log.id }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    {{ pagination.links }}
    {% endif %}
    {% endblock %}
  </body>
</html>  
