<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='showLogsStyle.css') }}">
  </head>
  <body>

    <form action="/" method="post" enctype = "multipart/form-data">
      
      <div>Name</div>
      <input type="text" name="name"><br>
      <div>Tags</div>
      <select name="tags">
        <option value="Skidpad">Skidpad</option>
        <option value="Acceleration">Acceleration</option>
        <option value="Autocross">Autocross</option>
        <option value="Endurance">Endurance</option>
        <option value="Tests">Tests</option>
      </select>
      <select name="car">
        <option value="10">10e</option>
        <option value="09">09e</option>
        <option value="08">08e</option>
      </select>
      <br><br>
      <div>date time</div>

      <input type="date" name="date">
      <input type="time" name="time" step="1">
      <br>
      <div>File</div>
      <input type="file" name="file" autocomplete="off" required><br>
      <input type="submit" value="Submit">
    </form>

    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th >Name</th>
          <th >Tag</th>
          <th >Car</th>
          <th >Date</th>
          <th >Time</th>
        </tr>
     </thead>
    {% for location in locations %}
      <tr onclick="location.href = '{{ url_for('show_logs_by_id', id=location.id) }}';">
        <td>{{ location.name }}</td>
        <td>{{ location.tag }}</td>
        <td>{{ location.car }}</td>
        <td>{{ location.date }}</td>
        <td>{{ location.time }}</td>
        <td>
          <a href="{{ url_for('delete', id=location.id) }}">delete</a>
        </td>
      </tr>
    {% endfor %}
    </table>

  </body>
</html>  
