<html>
  <head>
  </head>
  <body>

    <form action="/" method="post" enctype = "multipart/form-data">
          <input type="date" name="date">
          <input type="time" name="time">
          <input type="file" name="file" autocomplete="off" required><br>

        <input type="submit" value="Submit">
    </form>

    <h>Logs</h>
    <table>
    {% for location in locations %}
      <tr onclick="location.href = 'id={{ location.id }}/page=1';">

        <td>{{ location.date }}</td>
        <td>{{ location.time }}</td>
      </tr>
    {% endfor %}
    </table>
    
  </body>
</html>  
