<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='showLogsStyle.css') }}">
	</head>
	<body>
		<h>{{location.date}}</h>
		<h>{{location.time}}</h>
		<tr>
		<a href="/">HOME</a>
		<form action="/searchid:{{ location.id }}/" method="post">
    	  <input type="number" name="search" min="1">
    	  <input type="submit" value="Search ID">
	    </form>

	    <form action="/id:{{ location.id }}/" method="post">
	    	<input type="number" placeholder="dev id" name="dev id" min="1"><br>
	    	<input type="number" placeholder="msg id" name="msg id" min="1">
	    	<input type="submit" value="Convert ID">  	
	    </form>
	    <div>Result: {{ conv }}</div>

	    {{ pagination.info }}
	    {{ pagination.links }}
	    <table class="table table-hover table-sm">
	    <thead>
		    <tr>
		      <th >time</th>
		      <th >...</th>
		      <th >ID</th>
		      <th >Dev id</th>
		      <th >Msg id</th>
		    </tr>
		 </thead>
	    {% for log in logs %}
	    	<tr>
		        <td>{{ log.f1 }}</td>
		        <td>{{ log.f2 }}</td>
		        <td>{{ log.f3 }}</td>
		    	<td>{{ log.d_id() }}</td>
		    	<td>{{ log.m_id() }}</td>
		        <td>{{ log.f4 }}</td>
		        <td>{{ log.f5 }}</td>
		        <td>{{ log.f6 }}</td>
		        <td>{{ log.f7 }}</td>
		        <td>{{ log.f8 }}</td>
		        <td>{{ log.f9 }}</td>
		        <td>{{ log.f10 }}</td>
		        <td>{{ log.f11 }}</td>
		        <td>{{ log.f12 }}</td>
		        <td>{{ log.f13 }}</td>
		        <td>{{ log.f14 }}</td>
		        <td>{{ log.id }}</td>
		        <td>{{ log.datetime }}</td>
	      	</tr>
	    {% endfor %}
	    </table>
	    {{ pagination.links }}
	</body>
</html>