<html>
	<head>
	</head>
	<body>
		<h>{{location.date}}</h>
		<h>{{location.time}}</h>
	    <table>
	    {% for log in logs %}
	        <tr>
	        <td>{{ log.f1 }}</td>
	        <td>{{ log.f2 }}</td>
	        <td>{{ log.f3 }}</td>
	        <td>{{ log.f4 }}</td>
	        <td>{{ log.f5 }}</td>
	        <td>{{ log.f6 }}</td>
	        <td>{{ log.f7 }}</td>
	        <td>{{ log.f8 }}</td>
	        <td>{{ log.f9 }}</td>
	        <td>{{ log.f10 }}</td>
	        <td>{{ log.f11 }}</td>
	        <td>{{ log.f12 }}</td>
	        <td>{{ log.f13 }}</td>
	        <td>{{ log.f14 }}</td>
	      </tr>
	    {% endfor %}
	    </table>
	</body>
</html>